hostname = localhost
www-port = 80
api-port = 8080
api-root = http://localhost:8080

jwt-key  = same salt on all servers

redis-host = redis
redis-user =
redis-pass =

stripe-plan = Klouds Beta App
stripe-sk   =
stripe-pk   =

apps   = ./server/apps
client = ./client/dist

rancher-url          = http://146.148.89.197:8080/v1/
rancher-access-key   = A84ADBBDA61A03432868
rancher-secret-key   = 9ECmz3CDaMbB7SykyhXRye8Wdx9rXfSn3dnTudUa

aws-access-key-id     = AKIAJIG7J3MSYUBM7LPQ
aws-secret-access-key = 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
