/*@import "./reset.css";*/

body {
  background: #FFF;
  min-height: 100vh;
  position: relative;
  font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.debug {
  display: inline-block;
  background: rgba(47, 23, 20, 0.2);
  border: 2px dashed rgba(47, 23, 20, 0.3);
  padding: 1em;
}

.debug button {
  border: none;
  color: rgba(200, 230, 240, 0.8);
  background: rgba(47, 23, 20, 0.9);
  margin: 0.5em;
}

.gh-banner {
  position: absolute;
  top: 0;
  left: 0;
}

.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #10486A;
  /*  background: var(--purple);*/
}

.page {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  background: transparent;
}

.page li {
  display: none;
}

.page li.active {
  display: block;
}

input,
button {
  outline-offset: 0px;
  border: 2px solid #10486A;
  background: transparent;
  color: #10486A;
}

span.num {
  display: inline-block;
  line-height: 64px;
  font-size: 64px;
  margin: 0.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.row {
  color: #10486A;
}

.row h1,
.row h2,
.row h3 {
  color: #10486A;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  margin: 0 0.5em 0 0;
  line-height: 1.5em;
  display: inline-block;
}

.row h1 {
  margin-bottom: 2em;
}

h3.on-off > * {
  opacity: 0.6;
}

h3.on-off > on {
  opacity: 1;
}

button:disabled,
input[type=submit]:disabled {
  opacity: 0.8;
  pointer: none;
}

.page label {
  box-sizing: border-box;
  display: inline-block;
  font-weight: normal;
  margin: 0.5em 0 0 0;
  font-size: 0.9rem;
}

.page input {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  display: block;
  line-height: 1em;
}

.page button,
input[type=submit] {
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
  padding: 0.5em 1em;
}

.logo {
  display: inline-block;
  height: 72px;
  margin-top: 20px;
  margin-bottom: 45px;
}

.logo text {
  -webkit-transform: translate(0, 64px);
  -ms-transform: translate(0, 64px);
  transform: translate(0, 64px);
  font-size: 65px;
  stroke: #10486A;
  fill: none;
  font-weight: bold;
  paint-order: fill;
  text-rendering: optimizeLegibility;
  stroke-linejoin: miter;
  stroke-width: 1.5;
  stroke-dashoffset: 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  stroke-dasharray: 0 1200 0;
}

.form {
  position: relative;
  width: 18em;
  padding: 1em;
  margin: 0 1em;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 1;
}

.form.faded {
  opacity: 0.2 !important;
}

.form h3 {
  width: 100%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  color: #10486A;
  text-align: center;
  margin-bottom: 0.5em;
}

.form h4 {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  color: #10486A;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.form input[type=submit] {
  font-weight: bold;
  margin: 2em 0 1em 0;
}

.form input {
  width: 100%;
  margin-bottom: 1em;
}

.form .error {
  color: #FF4311;
  -webkit-font-feature-settings: "c2sc";
  -moz-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  font-style: oblique;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  margin-bottom: 0.5em;
}

.sheet a {
  color: #10486A;
}

.sheet .links .fa {
  margin-right: 4px;
}

.sheet h3 {
  margin: 18px 0 0;
}

.sheet h4 {
  margin: 12px 0 0;
  line-height: 1.2;
}

.sheet ol,
.sheet ul {
  padding: 0;
}

.sheet ol ol,
.sheet ol ul,
.sheet ul ol,
.sheet ul ul {
  margin-top: 12px;
  padding-left: 20px;
}

.sheet li {
  margin-bottom: 0;
}

.sheet h3 + ul {
  margin-top: 0;
}

.sheet img {
  margin: 18px 0;
  width: 100%;
  border: none;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
}

.card {
  color: #EEE;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  background: #10486A;
}

/*
.card > * {
  margin-left: 100px;
}*/

.card .title {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  /*font-size: 120%;*/
  /*line-height: 1.4em;*/
  /*font-weight: bold;*/
}

/*
.card img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  height: 100px;
  margin: auto;
}*/

.stats,
.trends {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  /*  background: rgba(255,255,255,0.8);*/
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 18px;
  margin: 0 0 18px;
  font-size: 14px;
}

.card .title {
  margin: -18px -18px 0px;
  padding: 12px 18px 6px;
  /*  background: #0971B2;*/
  font-weight: normal;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}

.card .title a,
.card .title a:visited,
.card .title a:active,
.card .title a:hover {
  color: #444;
  text-decoration: none;
}

.card .url {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.card .url a,
.card .url a:visited,
.card .url a:active,
.card .url a:hover {
  text-decoration: none;
  color: #666;
  font-weight: normal;
}

.card .description {
  min-height: 5em;
}

.stats {
  overflow: hidden;
  margin: 16px -18px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.stat,
.trend {
  display: block;
}

.stat {
  font-size: 18px;
  margin: 2px 0 1px;
  -webkit-font-smoothing: antialiased;
}

.trend.up {
  color: #31BB47;
}

.trend.down {
  color: #C91B1B;
}

.stats li,
.trends li {
  float: left;
  width: 33.33333333%;
  text-align: center;
  margin: 0;
  padding: 6px;
  line-height: 1.4;
}

.sheet:after {
  content: "";
  display: table;
  clear: both;
}

.text,
.charts {
  float: left;
}

.text {
  width: 70%;
  padding-right: 47px;
}

.charts {
  width: 30%;
}

.chart {
  width: 100%;
  height: 200px;
}

.card .actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card .actions button {
  border: none;
  font-weight: bold;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

input.expiry {
  box-sizing: border-box;
  display: inline-block;
  width: 4em;
}

/* stripe stuff */

button.stripe-busy {
  pointer-events: none;
  cursor: not-allowed;
}