
:root {
  /*  color scheme*/
  --astral-light: #57B4D6;
  --astral-dark: #396E8B;

  --black: #000000;
  --dark: rgba(0, 0, 0, 0.8);
  --purple: #664E99;
  --venice-blue: #10486A;
  --light: #DCDCDC;


  --background: transparent;
  --box-shadow: none;
  --border: transparent;
  --color: var(--light);

  --button-background: var(--light);


  --gutters: 10px;

  --step-background: #FFF;
  --step-border: #CCCCDD;

  --button-primary-color: #E9E9E9;
  --button-secondary: hsl(0, 0%, 86%);
  --app-item: #EEE;
}

body {
  background: radial-gradient(var(--astral-light), var(--astral-dark));
  min-height: 100vh;
  position: relative;
  font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.debug {
  display: inline-block;
  background: rgba(47, 23, 20, 0.2);
  border: 2px dashed rgba(47, 23, 20, 0.3);
  padding: 1em;
}

.debug button {
  border: none;
  color: rgba(200, 230, 240, 0.8);
  background: rgba(47, 23, 20, 0.9);
  margin: 0.5em
}

@import "./elements/page.css";
@import "./elements/logo-text.css";
@import "./elements/login.css";
@import "./elements/apps.css";
@import "./elements/stripe.css";