
label {
  box-sizing: border-box;
  display: inline-block;
  font-weight: normal;
  margin: 0.5em 0 0 0;
  font-size: 0.9rem;
}

input {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  display: block;
  line-height: 1em;
}

input.expiry {
  box-sizing: border-box;
  display: inline-block;
  width: 4em;
}

button {
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
  padding: 0.5em 1em;
}

.login button:first-child {
  margin-left: 1em;
}
.login button :last-child {
  margin-right: 1em;
}

.login button {
  width: 8em;
}

.login h4 { 
  margin-top: 0.5em;
}

.login input {
  box-sizing: margin-box;
  margin-left: 1.4em;
  width: 15.2em;
  margin-right: 1.4em;
  margin-bottom: 1em;
}