
:root {
  /*  color scheme*/
  --astral-light: #57B4D6;
  --astral-dark: #396E8B;

  --black: #000000;
  --dark: rgba(0, 0, 0, 0.8);
  --purple: #664E99;
  --venice-blue: #10486A;
  --light: #DCDCDC;


  --background: transparent;
  --box-shadow: none;
  --border: transparent;
  --color: var(--light);

  --button-background: var(--light);


  --gutters: 10px;

  --step-background: #FFF;
  --step-border: #CCCCDD;

  --button-primary-color: #E9E9E9;
  --button-secondary: hsl(0, 0%, 86%);
  --app-item: #EEE;
}

body {
  background: radial-gradient(var(--astral-light), var(--astral-dark));
}

.row {
  color: var(--light);
}

.row h2 {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  margin: 0;
  line-height: 1.5em;
}

.num {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background: var(--light);
  color: var(--dark);
}

.item h4 {
  margin: 0;
  line-height: 1.5em;
  color: var(--dark);
}

.item input {
  color: var(--dark);
}

app-off {
  background: var(--light);
  color: var(--dark);
  border: none;
  opacity: 0.6;
}

input {
  border: 1px solid var(--light);
  background: var(--background);
  color: var(--light);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  outline-offset: 0px;
}

button {
  background: var(--light);
  border: rgba(100, 100, 100, 0.2) solid 1px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  color: var(--purple);
}

button.primary {
  background: var(--purple);
  color: var(--light);
}

button:disabled {
  opacity: 0.8;
  pointer: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--purple) inset;
  -webkit-text-shadow: 0 0 0 1000px var(--light) inset;
}

.logo text {
  stroke: var(--color);
  fill: none;

  font-weight: bold;
  paint-order:fill;
  text-rendering: optimizeLegibility;
  stroke-linejoin: miter;
  stroke-width: 1.5;

  stroke-dashoffset: 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  stroke-dasharray: 0 1200 0;
}