

span.num {
  display: inline-block;
  line-height: 64px;
  font-size: 64px;
  margin: 0.5em;
}


.login form {
  width: 18em;
  padding: 6em;
}

.login h4 {
  margin-left: 1em;
}

.item {
  margin: 10px;
  display: inline-block;
  padding: 10px;
}

.app button {
  width: 150px;
}

app-off {
  display: inline-block;
  padding: 1rem;
  line-height: 1rem;
  text-align: center;
  margin: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}
