.form {
  position: relative;
  color: var(--light);
  width: 18em;
  background: var(--purple);
  padding: 1em;
}
.form h3 {
  width: 100%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  color: var(--light);
  text-align: center;
  margin-bottom: 0.5em
}

.form h4 {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  color: var(--light);
  margin-top: 0.5em;
  margin-bottom: 0;
}
.form input[type=submit] {
  font-weight: bold;
  margin: 2em 0 1em 0;

}
.form input {
  width: 100%;
  margin-bottom: 1em;
}

.form .error {
  color: #FF4311;
  font-variant: small-caps;
  font-style: oblique;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
  margin-bottom: 0.5em
}
