.login {
  position: relative;
  color: var(--light);
}

.login .register-btn {

}

.login .login-btn {

}

.login button {
  width: 7em;
}

.login h4 {
  position: absolute;
  right: 100%;
  white-space: nowrap;
  color: var(--light);
  margin-top: 0.5em;
  padding-right: 2em;
}

.login h2 {
  color: var(--light);
  margin-top: 0.5em;
  padding-right: 2em;
}

.login input {
  box-sizing: margin-box;

  outline-offset: 0px;
  border: 2px solid var(--light);
  background: transparent;
  color: var(--light);


  width: 15.2em;
  margin-right: 1.4em;
  margin-bottom: 1em;
}

input:-webkit-autofill {
}


.login form {
  width: 18em;
  padding: 6em;
}

.login h4 {
  margin-left: 1em;
}

.login .error {
  color: #D01C1C;
}
