.login {
  position: relative;
  color: var(--light);
  width: 18em;
}

.login h4 {
  white-space: nowrap;
  color: var(--light);
  margin-top: 0.5em;
  padding-right: 2em;
  margin-left: 1em;
}
.login input {
  width: 15.2em;
  margin-right: 1.4em;
  margin-bottom: 1em;
}

.login .error {
  color: #D01C1C;
}
