.page {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  background: transparent;
}

.page li {
  display: none;
}

.page li.active {
  display: block;
}

input, button {
  outline-offset: 0px;
  border: 2px solid var(--light);
  background: transparent;
  color: var(--light);
}

span.num {
  display: inline-block;
  line-height: 64px;
  font-size: 64px;
  margin: 0.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.row {
  color: var(--light);
}

.row h2, .row h3 {
  color: var(--light);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  margin: 0 0.5em 0 0;
  line-height: 1.5em;
  display: inline-block;
}

h3.on-off > * {
  opacity: 0.6;
}
h3.on-off > on {
  opacity: 1;
}

button:disabled, input[type=submit]:disabled {
  opacity: 0.8;
  pointer: none;
}

.page label {
  box-sizing: border-box;
  display: inline-block;
  font-weight: normal;
  margin: 0.5em 0 0 0;
  font-size: 0.9rem;
}

.page input {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  display: block;
  line-height: 1em;
}


.page button, input[type=submit] {
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
  padding: 0.5em 1em;
}

