.login {

}

.login button:first-child {
  margin-left: 1em;
}
.login button :last-child {
  margin-right: 1em;
}

.login button {
  width: 8em;
}

.login h4 {
  margin-top: 0.5em;
}

.login input {
  box-sizing: margin-box;
  margin-left: 1.4em;
  width: 15.2em;
  margin-right: 1.4em;
  margin-bottom: 1em;
}

.login form {
  width: 18em;
  padding: 6em;
}

.login h4 {
  margin-left: 1em;
}
