
.logo {
  display: inline-block;
  height: 58px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo text {
  transform: translate(0, 48px);
  font-size: 48px;

  stroke: var(--color);
  fill: none;

  font-weight: bold;
  paint-order:fill;
  text-rendering: optimizeLegibility;
  stroke-linejoin: miter;
  stroke-width: 1.5;

  stroke-dashoffset: 0;
  text-shadow: 0px 1px 1px rgba(var(--astral-light));
  stroke-dasharray: 0 1200 0;
}
